:root {
  --font-lg: 2.5rem;
  --font-md: 1.75rem;
  --font-button: 1rem;
  --font-sm: 1rem;
  --font-xsm: 0.875rem;
}

@media (max-width: 1000px) {
  :root {
    --font-lg: 2rem;
    --font-md: 1.5rem;
  }
}

@media (max-width: 800px) {
  :root {
    --font-lg: 1.5rem;
    --font-md: 1.25rem;
  }
}

@media (max-width: 600px) {
  :root {
    --inner-spacing: 1rem;
    --font-button: 0.875rem;
  }
}

@media (max-width: 400px) {
  :root {
    --font-lg: 1.25rem;
    --font-md: 1rem;
    --font-sm: 0.875rem;
    --font-button: 0.75rem;
  }
}
